.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

video {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.content h1 {
  font-size: 112px;
  margin-left: 30px;
}

.content p {
  font-size: 25px;
  font-weight: 200;
  margin: 20px auto 50px auto;
  width: 50%;
}

.content .btnForm {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  padding: 15px 65px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
}

.content .btnForm::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.content .btnForm:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.icons {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons img {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 6px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
  z-index: 100;
}

.brand {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.line {
  width: 35%;
  transform: rotate(90deg);
  z-index: 1;
}
