.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.content h1 {
  font-size: 80px;
  margin-left: 30px;
  font-weight: 400;
}

.content p {
  font-size: 25px;
  font-weight: 200;
  margin: 20px auto;
  width: 50%;
}

.content .btnForm {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  padding: 15px 65px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
}

.content .btnForm::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.content .btnForm:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.icons {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons img {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 6px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
  z-index: 100;
}

.brand {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.line {
  width: 35%;
  transform: rotate(90deg);
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .content h1 {
    font-size: 75px;
  }
}

@media only screen and (max-width: 600px) {
  .content h1 {
    font-size: 55px;
  }

  .brand img {
    width: 70px;
  }

  .content p {
    font-size: 17px;
  }

  .content .btnForm {
    width: 50%;
    font-size: 11px;
  }
}

@media only screen and (max-width: 450px) {
  .content h1 {
    font-size: 50px;
  }

  .brand img {
    width: 50px;
  }

  .content p {
    font-size: 17px;
    width: 75%;
  }

  .content .btnForm {
    width: 70%;
    font-size: 11px;
  }
}

@media only screen and (max-width: 350px) {
  .content h1 {
    font-size: 30px;
    margin-left: 10px;
  }

  .brand img {
    width: 30px;
  }

  .content p {
    font-size: 13px;
    width: 75%;
    margin-bottom: 30px;
  }

  .content .btnForm {
    width: 75%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11px;
  }
}

.playBtn {
  width: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.daoseederVideo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalBtn {
  background-color: transparent;
  border: none;
  width: 40px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.modalBtn img {
  width: 40px;
  cursor: pointer;
}

.dialog {
  z-index: 1000;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialogMain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.dialogDiv {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1vw; /* Use viewport width for padding */
  text-align: center;
}

.dialogPanel {
  width: 70vw; /* Use viewport width for width */
  overflow: hidden;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 1.5vw; /* Use viewport width for padding */
  text-align: left;
  vertical-align: middle;
  box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.25); /* Use viewport width for box-shadow */
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.dialogHeading {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  line-height: 1.5rem;
  color: #6b7280;
}

.dialogBody {
  margin-top: 1rem;
  width: 100%;
}

.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
